<p><a href="/cards">Cards Index</a></p>

<h1><%= @card.player_name %></h1>
<p>Description: <%= @card.description %></p>
<p>Graded: <%= @card.graded %></p>
<p>Value: <%= @card.value %></p>
<p>Created At: <%= @card.created_at %></p>
<p>Updated At: <%= @card.updated_at %></p>
