<p><a href="/brands">Brands Index</a></p>
<p><a href="/cards">Cards Index</a></p>

<h1>Brands</h1>

<%= link_to 'New Brand', '/brands/new' %>

<% @brands.each_with_index do |brand, index| %>
<div id="brand-<%=index%>">
  <h3>Name: <%= brand.name %> | <a href="/brands/<%="#{brand.id}"%>/edit">Edit Brand</a></h3>
  <p>Created At: <%= brand.created_at %></p>
</div>
<% end %>
