<h1>Create New Brand</h1>

<%= form_with url: "/brands", method: :post, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.label :year %>
  <%= form.text_field :year %>
  <%= form.label :sold_at_retail %>
  <%= form.check_box :sold_at_retail %>
  <%= form.submit 'Create Brand' %>
<% end %>
