<p><a href="/cards">Cards Index</a></p>

<h1><%= @brand.name %></h1>
<p>Number of Cards: <%= @brand.card_count %></p>
<p>Year: <%= @brand.year %></p>
<p>Sold at Retail: <%= @brand.sold_at_retail %></p>
<p>Created At: <%= @brand.created_at %></p>
<p>Updated At: <%= @brand.updated_at %></p>
