<h1><%= @brand.name %></h1>
<p>Year: <%= @brand.year %></p>
<p>Sold at Retail: <%= @brand.sold_at_retail %></p>
<p>Created At: <%= @brand.created_at %></p>
<p>Updated At: <%= @brand.updated_at %></p>
